

<!-- Toolbar -->
<div class="toolbar" role="banner">
  <span>{{ title }}</span>
  
</div>

<div class="content" role="main">
  <p>{{ test.GetCircumference() }}</p>
  <p>{{ test.GetArea() }}</p>

  <div>
    <span>t</span>
    <input type="number" value="10" #sideA>
  </div>
  <div>
    <span>tt</span>
    <input type="number" value="10" #sideB>
  </div>
  <div>
    <span>ttt</span>
    <input type="number" value="10" #angleA>
  </div>
  <div>
    <span>tttt</span>
    <input type="number" value="10" #angleB>
  </div>
  <div>
    <span>ttttt</span>
    <input type="number" value="10" #Height>
  </div>
  <div>
    <button (click)="createCube(sideA.value)" formtarget="_blank">create Cube</button>
    <button (click)="createRectangle(sideA.value, sideB.value)" formtarget="_blank">create Rectangle</button>
    <button (click)="createParallelogram(sideA.value, sideB.value)" formtarget="_blank">create Parallelogram</button>
    <button (click)="createTrapez(sideA.value, sideB.value, angleA.value, angleB.value, Height.value)" formtarget="_blank">create Trapez</button>
  </div>
</div>
